@import url(https://fonts.googleapis.com/css?family=PT+Sans|Lucida Sans Unicode:700);


body {
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #222;
  display: block;
  margin: 8px;
}

header{
  min-height: 100px;
  border-bottom: 2px solid white;
  position: relative;
}

a{
  color:#262626;
}

a:visited{
  color:blue;
}

a:hover{
  color: red;
}

a:active{
  color:##ff0000;
}


nav ul{
  background-color: #faeaea;
  margin:0;
  padding-left:0;
  list-style: none;
  text-align: center;
}

nav li{
  display: inline-block;
  margin-right: 30px;
  padding-top: 10px;
}

nav a: hover{
  border-padding: 5px;
  color: #0066ff;
}

a: hover{
  color: rgb (46, 235, 106);
}


h1, h3 {
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h1{
  font-size: 100px;
  color: #faeaea;
}

h2 {
  border-bottom: 4px solid white;
  background-color: #ebadad;
  color: #faeaea;
  text-transform: uppercase;
  font-size: 25px;
}


h3{
  border-bottom: 4px solid #ebadad;
  margin: 0;
  display: inline-block;
  font-size: 18px;
}

#container {
    max-width: 960px;
    margin: 0 auto;
    background-color:#ebadad;
}

main{
  position: relative;
  clear: both;
}

section {
  width:470px;
  background-color: #faeaea;
  top: 0;
}

#left-col {
  float: left;
  margin-right: 20px;
}

#right-col {
  float: right;
}

article {
  position: relative;
  margin-bottom: 20px;
}

img{
  position: relative;
  top:0;
  right:0;
  margin-bottom: 8px;
  margin-right: 1px;
  margin-top: 1px;
  border:3px solid white;
}
